<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render 'shared/blog_nav' %>
  <%= render 'shared/blog_masthead' %>
  <!-- Start of container and row element -->
  <div class="container">

      <div class="row">

        <%= yield %>

<%= render 'shared/blog_sidebar' %>
<!-- Start of footer -->
  <%= render 'shared/blog_footer' %>
  <!-- End of footer -->

        <%= source_helper %>
    </div>
  </body>
</html>
